[Unit]
Description=Ngrok
After=network.service

[Service]
type=simple
User=vinicius
WorkingDirectory=/home/vinicius
ExecStart=/usr/bin/ngrok start --all --config="/home/vinicius/code/Automation/Ngrok/config.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
